VITE_SUPABASE_URL=https://dnulrkkfliaultsualir.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRudWxya2tmbGlhdWx0c3VhbGlyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODAxNzIwMDQsImV4cCI6MjA5NTc0ODAwNH0.J0tTOOubtqCWHzgLXXaKcZlWcHkV55zm3KEymSX9Xpc
